@font-face {
	font-family:ProximaNovaBold;
	src:url("font/Proxima Nova Bold.otf");
}
@font-face {
	font-family:ProximaNovaExtraBold;
	src:url("font/Proxima Nova Extra Condensed Bold.otf");
}
@font-face {
	font-family:proximanova-semibold;
	src:url("font/proximanova-semibold.otf");
}
@font-face {
	font-family:proximanova-regularitalic;
	src:url("font/proximanova-regularitalic.otf");
}
@font-face {
	font-family:proximanova-lightitalic;
	src:url("font/proximanova-lightitalic.otf");
}
@font-face {
	font-family:aachenb;
	src:url("font/aachenb.ttf");
}
@font-face {
	font-family:architep;
	src:url("font/architep.ttf");
}
@font-face {
	font-family:arrusb;
	src:url("font/arrusb.ttf");
}