body {
	background-image: url(../img/background.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color: #464646;
}
#all{
	margin: auto;
	position: relative;
}
#wrapper{
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
}

/*title*/
#title{
	margin-top: 100px;
}
#title h3{
	background: #d13f4a;
	max-width: 150px;
	height: 28px;
	margin: auto;
	font-family: ProximaNovaBold;
	font-size: 15px;
	line-height: 28px;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}
#title h1{
	font-family: ProximaNovaExtraBold;
	font-weight: bold;
	font-size: 28px;
	line-height: 60px;
	background-color: #111111;
	max-width: 600px;
	margin: auto;
}
#title h5{
	font-family: proximanova-semibold;
	max-width: 415px;
	line-height: 40px;
	background-color: #0a0908;
	margin: auto;
	font-size: 14px;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
}

/*content */
#last_new{
	width: 100%;
	height: 50px;
	background-color: #f3f3f3;
	line-height: 50px;
}
#last_new p{
	padding-left: 30px;
	font-family: ProximaNovaBold;
	color: #999999;
	float: left;
}
#img {
	width: 100%;
	height: 250px;
}

#content{
	margin-top: 20px;
}
#content img{
	float: left;
}
#content label{
	float: right;
}
.icon{
	padding: 5px 5px;
	background: #d13f4a;
	width: 75px;
	height: 20px;
	font-family: ProximaNovaBold;
	font-size: 9px;
	margin-top: 5px;
	color: #fff;
}
.icon1{
	padding: 5px 5px;
	background: #469134;
	width: 75px;
	height: 20px;
	font-family: ProximaNovaBold;
	font-size: 9px;
	margin-top: 5px;
	color: #fff;
}
.icon2{
	padding: 5px 5px;
	background: #24cedd;
	width: 75px;
	height: 20px;
	font-family: ProximaNovaBold;
	font-size: 9px;
	margin-top: 5px;
	color: #fff;
}
.icon3{
	padding: 5px 5px;
	background: #2f81c0;
	width: 75px;
	height: 20px;
	font-family: ProximaNovaBold;
	font-size: 9px;
	margin-top: 5px;
	color: #fff;
}
.icon4{
	margin-top: 5px;
	padding: 10px 5px;
	background: #d13f4a;
	width: 75px;
	height: 30px;
	font-family: ProximaNovaBold;
	font-size: 10px;
	text-align: center;
	color: #fff;
}
#text{
	margin-top: 25px;
}
#text h1{
	font-family: proximanova-semibold;
	font-size: 21px;
	letter-spacing: 2px;
}
article a{
	color: #484848;
}
#text p {
	font-family: proximanova-regularitalic;
	color: #484848;
	font-size: 13px;
	padding-top: 20px;
	line-height: 26px;
	letter-spacing: 1px;
}

/*paginate*/
#paginate #left{
	width: 15px;
	height: 15px;
	border-radius: 5px;
	background-color: #c2c2c2;
	border: 1px solid #c2c2c2;
}
#paginate #center{
	width: 15px;
	height: 15px;
	border-radius: 5px;
	background-color: #a8a8a8;
	border: 1px solid #a8a8a8;
	margin-left: 5px;
}
#paginate #right{
	width: 15px;
	height: 15px;
	border-radius: 5px;
	background-color: #8f8f8f;
	border: 1px solid #8f8f8f;
	margin-left: 5px;
}

#description{
	width: 100%;
	background-color: #181818;
	line-height: 50px;
}
#description p{
	padding-left: 25px;
	font-family: ProximaNovaBold;
	color: #999999;
}

@media (max-width: 768px) {
  #description p{
  	padding-left: 10px;
    font-size: 14px;
  }
}

/*content-right*/
aside{
	background: #020202;
	padding: 10px 10px;
}

/* SPONSORS */
#sponsor{
	margin-top: 10px;
	color: #fff;
	width: 100%;
	font-family: ProximaNovaBold;
}
#sponsor img{
	float: left;
}
#sponsor label{
	float: right;
	text-align: right;
}
@media (max-width: 768px) {
  #sponsor label{
    font-size: 14px;
  }
}
#sponsors{
	margin-top: 10px;
	width: 100%;
	height: 40px;
	background: #0c0c0c;
	line-height: 40px;
	font-family: ProximaNovaBold;
}
#sponsors img{
	 float: left;
	 margin: 10px 0;
}
#sponsors label{
	float: right;
	color: #fff;
}

/*DIVISIONS*/
#division{
	margin-top: 10px;
	color: #fff;
	width: 100%;
	font-family: ProximaNovaBold;
}
#division img{
	width: 50px;
	height: 50px;
	float: left;
}
#division label{
	float: right;
	text-align: right;
	font-size: 13px;
}
@media (max-width: 768px) {
  #division label{
    font-size: 9px;
  }
}
#division a{
	font-size: 10px;
	color: #d13f4a;
}

/*GALLERY*/
#gallery img{
	margin-top: 5px;
	width: 32%;
	height: 85px;
}
@media (max-width: 768px) {
  #gallery img{
    width: 48%;
  }
}
@media (max-width: 1024px) {
  #gallery img{
    width: 48%;
  }
}

/*CURRENT STREAMS*/
#streams_content #g{
	width: 30%;
	color: #fff;
	float: left;
	font-family: ProximaNovaBold;
}
#playing, #streams_content a{
	color: #fff;
	font-family: proximanova-regularitalic;
	font-size: 10px;
}
#streams_name{
	color: #fff;
	font-family: ProximaNovaBold;
	font-size: 12px;
}
#streams_title{
	color: #d13f4a;
	font-family: ProximaNovaBold;
	font-size: 13px;
}

/*FROM TWITTER*/
#twitter_content{
	margin-top: 10px;
}
#twitter_content img{
	width: 80px;
	height: 40px;
}
#twitter_content label{
	width: 82%;
	font-size: 9px;
	font-family:proximanova-lightitalic;
	color: #fff;
}
#twitter_content label a{
	font-size: 10px;
	font-family: proximanova-regularitalic;
	color: #fff;
	float: right;
}

@media (max-width: 1024px) {
  	#twitter_content label a{
    	font-size: 8px;
  	}
}

.border-left-3 {
	border-left: 3px solid #FF0000;
}